.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  border-radius: 0.625rem;
  background-color: var(--bgSoft);
}

.title {
  font-weight: 700;
  text-transform: capitalize;
  color: var(--textSoft);
}

.menu {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.search {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  background-color: #2e374a;
  padding: 0.625rem;
  border-radius: 0.625rem;
  width: max-content;
}

.searchInput {
  background-color: transparent;
  border: none;
  color: var(--text);
  outline: none;
}

.icons{
  display: flex;
  gap: 1.25rem;
}
