.container {
  background-color: var(--bgSoft);
  padding: 20px;
  display: flex;
  border-radius: 10px;
  margin-top: 20px;
  gap: 1rem;
  width: 100%;
}

.form input,
.form textarea,
.form select,
.form label {
  padding: 30px;
  background-color: transparent;
  color: var(--text);
  border: 2px solid #2e374a;
  border-radius: 5px;
  margin-bottom: 30px;
}

.form {
  width: 100%;
}

.content {
  width: 100%;
  display: flex;
}

.content textarea,
.content input[type="file"] {
  width: 50%;
  height: 100%;
}

.form textarea {
  resize: none;
}

.form input,
.form select,
.form label {
  width: fit-content;
  height: auto;
  max-height: 84px;
}

.form button {
  width: 100%;
  padding: 30px;
  background-color: teal;
  color: var(--text);
  border: none;
  cursor: pointer;
}
